body, h1, form, label, p {
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 600px;
    margin: 50px auto;
}
header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.form {
    gap: 20px;
}
.column {
    
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.column1 {
   
    gap: 10px;
    grid-template-columns: 1fr;
}
.input_box {
    display: flex;
    flex-direction: column;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    font-size: 18px; 
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
